<div class="container">
    <div class="text-center why-text my-3 fs-1">Ristorante Il Gamberto Rosso</div>
    <div class="row my-5 d-flex justify-content-between">
        <div class="col-lg-6 col-xs-12">
            <img src="/assets/img/vintage.jpg" style="height:800px; ">
        </div>
        <div class="why-text col-lg-6 col-xs-12 ">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit officia adipisci, voluptas dolore mollitia veniam. Quis enim aut vero quaerat labore hic! Aliquid animi odio ullam quia totam, quod dolore qui sapiente explicabo dignissimos suscipit?
                Nesciunt vel cumque temporibus quasi ipsam, dolorum delectus ullam saepe cum iste accusamus rem esse reprehenderit repellat, nihil quaerat veritatis quia suscipit deserunt animi alias. Esse inventore saepe dicta nemo laborum itaque sunt
                quaerat dolore laudantium, et officiis aut iusto ducimus iure! Est consequatur sit officia dolor placeat voluptas nostrum et debitis voluptates accusamus aut iure doloribus, architecto nemo quas ullam expedita beatae iusto quasi. </p>
        </div>
    </div>
</div>
<div class="about">
    <div class="card-text fs-1 text-center why-text pb-2 pt-4">Why choose us</div>
    <div class="row">
        <div class="mx-auto col-lg-4 col-xs-12 box">
            <div>01</div>
            <div class="fw-bold">Lorem Ipsum.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi numquam vitae consequuntur incidunt eveniet. Voluptatum.</div>
        </div>
        <div class="mx-auto col-lg-4 col-xs-12 box">
            <div>01</div>
            <div class="fw-bold">Lorem Ipsum.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi numquam vitae consequuntur incidunt eveniet. Voluptatum.</div>
        </div>
        <div class="mx-auto col-lg-4 col-xs-12 box">
            <div>01</div>
            <div class="fw-bold">Lorem Ipsum.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi numquam vitae consequuntur incidunt eveniet. Voluptatum.</div>
        </div>

    </div>
</div>

<div class="container">
    <div class="why-text fs-1 text-center my-3">Check our specials</div>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quia.</p>

    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="cheesburger" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="cheesburger" data-toggle="pill" href="cheesBurger" role="tab" aria-controls="v-pills-home" aria-selected="true">CheesBurger</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Salmon</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="true">Ribs</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="true">Sushi</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="cheesburger" role="tabpanel" aria-labelledby="cheeseBurger">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/assets/img/spec.webp" class="img-fluid rounded-start" style="height:15rem; object-fit:cover">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">CheeseBurger</h5>
                                    <p class="card-text">Aromatischer, zartschmelzender Chester-Käse ummantelt das aus 100% Rindfleisch hergestellte Burger-Patty. Herzhaft-süße Zwiebeln, fruchtige Tomatenscheiben und ein kräftiger Ketchup runden den Geschmack ab und halten
                                        den Burger schön saftig.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/assets/img/spec.webp" class="img-fluid rounded-start" style="height:15rem; object-fit:cover">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">Salmon</h5>
                                    <p class="card-text">Garlic butter smothered salmon is a given. It’s possibly one of the most amazing, delicious ways to eat a juicy piece of salmon and gets cooked twice a week in this house. It’s been a while since we gave you salmon
                                        and it’s time.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/assets/img/ribs.webp" class="img-fluid rounded-start" style="height:15rem; object-fit:cover">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">Ribs</h5>
                                    <p class="card-text">Baking low and slow is our secret to fall off the bone oven-baked ribs. Some people think that ribs should be left to the “pit masters” — it’s just not true. Baking ribs in the oven is seriously easy. All you need is
                                        time — 95% of the recipe time is sitting back and relaxing while the ribs bake.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/assets/img/sushi.jpg" class="img-fluid rounded-start" style="height:15rem; object-fit:cover">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">Sushi</h5>
                                    <p class="card-text">Sushi rice is a medium-grained white rice prepared with vinegar and other seasonings such as salt and sugar. The usual variety of rice used for sushi is Japonica; in particular, the Koshihikari cultivar.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>