<ul class="nav navstil p-3 ">
    <li>
        <img src="/assets/img/logo.jpg" height="120">
    </li>
    <li class="nav-item ms-3">
        <a class="nav-link astil btn" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link astil btn" routerLink="/about">About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link astil btn" routerLink="/product-list">Menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link astil btn" routerLink="/cart">Cart</a>
    </li>
</ul>



