<div class="hero">
    <img class="hero-img" src="assets/img/hero.jpg">
    <div class="hero-text-container d-flex flex-column justify-content-center align-items-center">
        <div class="hero-headline">Ristorante Il Gamberto Rosso</div>
        <div class="hero-text mb-5">VIENNA's AWARD-WINNING WOOD-FIRED NEAPOLITAN PIZZA</div>
        <div class="button-container d-flex align-items-center">
            <button type="button" class="btn btn-secondary m-2 p-3" routerLink="/product-list">Our Menu</button>
            <button type="button" class="btn btn-secondary m-2 p-3">Book A Table</button>
        </div>
    </div>
</div>
